# Dependencies
node_modules/
**/node_modules/

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserdata

# Android
android/build/
android/.gradle/

# Python
venv/
__pycache__/
*.pyc
.env

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

docker-compose.dev.yml
docker-compose.prod.yml